{% extends 'employee_register/base.html' %}
{% block content %}
<h1>Employee Detials</h1>
<form method="post">{% csrf_token %}
   <input class="form-control" placeholder="Name" type="text" id="emp_code" name="emp_code">
    <input class="form-control" placeholder="Name" type="text" name="fullname">
    <input class="form-control" placeholder="Email" type="text" name="email">
    <input class="form-control" placeholder="Name" type="text" name="primary">
    <input class="form-control" placeholder="Name" type="text" name="secondary">
    <input class="form-control" placeholder="Name" type="text" name="location">
    <input class="form-control" placeholder="Name" type="text" id="txtDate" name="date">
    <input class="form-control" placeholder="Name" type="text" name="remarks">
    <input class="form-control" placeholder="Name" type="text" name="status">
    <input class="form-control" placeholder="Name" type="text" name="designation">
    <input class="form-control" placeholder="Name" type="text" name="benchmng">
    <input type="submit" value="Submit" />
</form>
<script type="text/javascript">
   $(function () {
       $('#txtDate').datepicker({
           format: "yyyy-mm-dd"
       });
   });
</script>
{% endblock content %}