{% extends 'employee_register/base.html' %}

{% load static %}
{% block content %}
<style>
    #showActive, #showReqActive {
      color: #49b5e7;
    }
    .formPopup{
        display: none; 
        position: fixed;
        float: left; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 5;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #474e5d79;
        padding-top: 40px;
    }
</style>

<script src="{% static 'showAsset/excel-bootstrap-table-filter-bundle.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'showAsset/excel-bootstrap-table-filter-style.css' %}" />
<link rel="stylesheet" href="{% static 'showAsset/styleMain.css' %}" />

        <!--Table Start -->
        <div class="content">
            <div class="contents formPopup" id="updateForm">
                <div class="form-block col-md-4" style="margin: auto 1% 10% auto;">
                <div class="mb-3">
                    <h4>Update Details of <strong>Requirement</strong><span onclick=closeForm() class="close" title="Close" style="color:red; text-align:end"><b>x</b></span></h4>
                </div>
                <form id="formUpdate" method="post">
                    {% csrf_token %}
                    
                    <div class="form-group first " id="requestorDiv">
                    <label for="requestor">Requestor name</label>
                    <input type="text" class="form-control " id="requestor" name="requestor" disabled style="font-size: medium;">
                    </div>
                    <div class="form-group first" id="reqPrimaryDiv">
                    <label for="reqPrimary">Primary Skill</label>
                    <input type="text" class="form-control" id="reqPrimary" name="reqPrimary" style="font-size: medium;"> 
                    </div>
                    <div class="form-group first" id="reqSecondaryDiv">
                    <label for="reqSecondary">Secondary Skill</label>
                    <input type="text" class="form-control" id="reqSecondary" name="reqSecondary" style="font-size: medium;">
                    </div>
                    <div class="form-group first" id="reqLocationDiv">
                    <label for="reqLocation">Location</label>
                    <input type="text" class="form-control" id="reqLocation" name="reqLocation" style="font-size: medium;">
                    </div>
                    <div class="form-group first" id="reqGradeDiv">
                    <label for="reqGrade">Grade</label>
                    <input type="text" class="form-control" id="reqGrade" name="reqGrade" style="font-size: medium;">
                    </div>
                    <div class="form-group first" id="reqCountDiv">
                    <label for="reqCount">Requirement Count</label>
                    <input type="text" class="form-control" id="reqCount" name="reqCount" style="font-size: medium;">
                    </div>
                    <div class="row" >
                        <div class="col-sm-4"><button type="submit" class="btn text-white btn-block btn-primary " style="width: fit-content;">Update  </button>
                        </div>
                        <div class="col-sm-4"><button type="reset" class="btn text-white btn-block btn-primary" onclick="closeForm()" style="width: fit-content; background-color: rgba(255, 0, 0, 0.792);">Close  </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>


            <table style="width: 100%;">
                <tr >
                    <td><h4>Requirements Data Table</h4></td>
                    <td align = "center">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} " role="alert" style="left:10px; width:fit-content">
                                <a class="close" data-dismiss="alert">×</a>
                                {{message   }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td align = "right"><span class="counter"><input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="What you looking for?" style="width:fit-content">
                        <script>
                                $(document).ready(function () {
                                    $("#myInput").on("keyup", function () {
                                        var value = $(this).val().toLowerCase();
                                        $("#divTable tr").filter(function () {
                                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                        });
                                    });
                                });
                            </script>
                        </span>
                    </td>
                </tr>
            </table>

            <table id="divTable" class="table table-hover" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" >Sr. No.</th>
                        <th data-field="requestor" data-editable="true">Requestor</th>
                        <th data-field="reqPrimary" data-editable="true">Primary Skill</th>
                        <th data-field="reqSecondary" data-editable="true">Secondary Skill</th>
                        <th data-field="reqLocation" data-editable="true">Location</th>
                        <th data-field="reqGrade" data-editable="true">Grade</th>
                        <th data-field="reqCount" data-editable="true">Req Count</th>
                        {% if perms.employee_register.change_requirement or perms.employee_register.delete_requirement %}
                            <th data-field="action">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for requirement in requirements %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{requirement.requestor}}
                        </td>
                        <td>
                            {{requirement.reqPrimary}}
                        </td> 
                        <td>
                            {{requirement.reqSecondary}}
                        </td>
                        <td>
                            {{requirement.reqLocation}}
                        </td>
                        <td>
                            {{requirement.reqGrade}}
                        </td>
                        <td>
                            {{requirement.reqCount}}
                        </td>
                        <td>
                            {% if perms.employee_register.change_requirement %}
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip" onclick="openForm('{{requirement.id}}','{{requirement.requestor}}','{{requirement.reqPrimary}}','{{requirement.reqSecondary}}','{{requirement.reqLocation}}','{{requirement.reqGrade}}','{{requirement.reqCount}}')"><i class="material-icons">&#xE254;</i></a>{% endif %}{% if perms.employee_register.delete_requirement %}<a href="/removeReq/{{requirement.id}}" class="delete" title="Delete" data-toggle="tooltip" onclick="return confirm('Are you sure to delete this requirement?')"><i class="material-icons">&#xE872;</i></a>{% endif %}
                            <!-- <button onclick="document.getElementById('id01').style.display='block'">Open Modal</button> -->
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>   

  <script>
    function openForm(id,reqr,prim,sec,loc,grade,count) {
        document.getElementById("updateForm").style.display = "block";
        className = "requestor";
        addClass(reqr,className);
        document.getElementById(className).value=reqr;
        className = "reqPrimary";
        addClass(prim,className);
        document.getElementById(className).value=prim;
        className = "reqSecondary";
        addClass(sec,className);
        document.getElementById(className).value=sec;
        className = "reqLocation";
        addClass(loc,className);
        document.getElementById(className).value=loc;
        className = "reqGrade";
        addClass(grade,className);
        document.getElementById(className).value=grade;
        className = "reqCount";
        addClass(count,className);
        document.getElementById(className).value=count;
        document.getElementById("formUpdate").action = "../editReq/"+ id;
      }
      
      function closeForm() {
        document.getElementById("updateForm").style.display = "none";
        removeEditClass1()
      }
      var modal1 = document.getElementById('updateForm');
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal1 ) {
          modal1.style.display = "none";
          removeEditClass1()
        }
      }
      function addClass(field,className){
        if(field != ''){
          var v = document.getElementById(className+"Div");
          v.classList.add("field--not-empty");
        }
      }
      function removeEditClass1(){
          var list1 = ['requestor','reqPrimary','reqSecondary','reqLocation','reqGrade','reqCount'];
          for(var i=0;i<9;i++){
              remClass(list1[i]);
          }
      }
      function remClass(className){
        var v = document.getElementById(className+"Div");
        v.classList.remove('field--not-empty');
      }
    // Use the plugin once the DOM has been loaded.
    $(function () {
      // Apply the plugin 
      $('table').excelTableFilter();
    });
  </script>

{% endblock content %}
