{% extends 'employee_register/base.html' %}

{% load static %}
{% block content %}
<style>
    #showActive, #showEmpActive {
      color: #49b5e7;
    }
</style>

<script src="{% static 'showAsset/excel-bootstrap-table-filter-bundle.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'showAsset/excel-bootstrap-table-filter-style.css' %}" />
<link rel="stylesheet" href="{% static 'showAsset/styleMain.css' %}" />  

        <!--Table Start -->
        <div class="content">
            <div class="main-sparkline13-hd">
                <h4>Profiles Data Table</h4>
            </div>
            <div class="table-filter">
                {% if messages %}
                    <div class="alert alert-success" role="alert" style="left:10px; width:fit-content">
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
                    </div>
                {% endif %}
                <span class="counter pull-right"><input type="text" id="myInput" onkeyup="myFunction()" class="form-control" placeholder="What you looking for?"></span>
                        <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#divTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script> 
            </div>
            <table id="divTable" class="table table-striped table-hover" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true" >#</th>
                        <th data-field="empDate" data-editable="true">Date</th>
                        <th data-field="emp_code">ID</th>
                        <th data-field="empFullname" data-editable="true">empame</th>
                        <th data-field="empEmail" data-editable="true">Email</th>
                        <th data-field="empPrimary" data-editable="true">Primary Skill</th>
                        <th data-field="empSecondary" data-editable="true">Secondary Skill</th>
                        <th data-field="empLocation" data-editable="true">Location</th>
                        <th data-field="empDesignation" data-editable="true">Designation</th>
                        <th data-field="empBenchmng" data-editable="true">Bench Manager</th>
                        <th data-field="empStatus" data-editable="true">Status</th>
                        <th data-field="empPanel" data-editable="true">Panel</th>
                        <th data-field="empRemarks" data-editable="true">Remarks</th>
                        <th data-field="action">Action</th>
                    </tr>
                </thead>
                {% for employee in employees %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td>
                            {{employee.empDate}}
                        </td>
                        <td>
                            {{employee.emp_code}}
                        </td> 
                        <td>
                            {{employee.empFullname}}
                        </td>
                        <td>
                            {{employee.empEmail}}
                        </td>
                        <td>
                            {{employee.empPrimary}}
                        </td>
                        <td>
                            {{employee.empSecondary}}
                        </td>
                        <td>
                            {{employee.empLocation}}
                        </td>
                        <td>
                            {{employee.empDesignation}}
                        </td>
                        <td>
                            {{employee.empBenchmng}}
                        </td>
                        <td>
                            {{employee.empStatus}}
                        </td>
                        <td>
                            {{employee.empPanel}}
                        </td>
                        <td>
                            {{employee.empRemarks}}
                        </td>
                        <td>
                            <a href="#" class="edit" title="Edit" data-toggle="tooltip" onclick="openForm('{{employee.emp_code}}','{{employee.empFullname}}','{{employee.empEmail}}','{{employee.empPrimary}}','{{employee.empSecondary}}','{{employee.empLocation}}','{{employee.empStatus}}','{{employee.empRemarks}}','{{employee.empDesignation}}','{{employee.empBenchmng}}','{{employee.empPanel}}')"><i class="material-icons">&#xE254;</i></a>
                            <a href="/removeEmp/{{employee.emp_code}}" class="delete" title="Delete" data-toggle="tooltip" onclick="return confirm('Are you sure to delete {{employee.fullname}}?')"><i class="material-icons">&#xE872;</i></a>
                            <!-- <button onclick="document.getElementById('id01').style.display='block'">Open Modal</button> -->
                        </td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
    </div>   
    <!-- update form start -->
    <div class="form-popup" id="updateForm" name="update_Form">
        <form id="formUpdate" class="form-container" method="POST">
            {% csrf_token %}
          <h5>Update Details of Employee <span onclick=closeForm() class="close" title="Close Modal" style="color:red; text-align:end">×</span></h5>

          <label for="emp_code"><b>ID</b></label>
          <!--Disabled for input-->
          <input type="text" value="emp_code" id="emp_code" name="emp_code" disabled>
          <label for="empFullname"><b>Name</b></label>
          <input type="text" value="empFullname" name="empFullname" id="empFullname">
          <label for="empEmail"><b>Email</b></label>
          <input type="text" value="empEmail" name="empEmail" id="empEmail">
          <label for="empLocation"><b>Location</b></label>
          <input type="text" value="empLocation" name="empLocation" id="empLocation" >
          <label for="empDesignation"><b>Designation</b></label>
          <input type="text" value="empDesignation" name="empDesignation" id="empDesignation">
          <label for="empBenchmng"><b>Bench Manager</b></label>
          <input type="text" value="empBenchmng" name="empBenchmng" id="empBenchmng">
          <label for="empPrimary"><b>Primary Skill</b></label>
          <input type="text" value="empPrimary" name="empPrimary" id="empPrimary">
          <label for="empSecondary"><b>Secondary Skill</b></label>
          <input type="text" value="empSecondary" name="empSecondary" id="empSecondary">
          <label for="empStatus"><b>Status</b></label>
          <select class="form-select" name="empStatus" id="empStatus">
            <option id="opt1" selected></option>
            <option value="L1 Assigned">L1 Assigned</option>
            <option value="L1 Select">L1 Select</option>
            <option value="L1 Reject">L1 Reject</option>
            <option value="Client Reject">Client Reject</option>
            <option value="Client Select">Client Select</option>
            <option value="Others">Others</option>
          </select>
          <label for="empPanel"><b>Panel</b></label>
          <select class="form-select" name="empPanel" id="empPanel">
            <option id="opt2"  selected></option>
            {% for interviewer in interveiwers %}
            <option value="{{interviewer.name}}">{{interviewer.name}}</option>
            {% endfor %}
            </select>
          <label for="empRemarks"><b>Remarks</b></label>
          <input class = "form-control text-wrap" col="2" rows = "3" type="text" value="empRemarks" name="empRemarks" id="empRemarks">

          <button type="submit" class="btn">Update</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    <!-- Update form end -->

  <script>
        function openForm(id,name,mail,prim,sec,loc,sts,remk,desg,mang,panelName) {
          document.getElementById("updateForm").style.display = "block";
          document.getElementById("emp_code").value=id;
          document.getElementById("empFullname").value=name;
          document.getElementById("empEmail").value=mail;
          document.getElementById("empPrimary").value=prim;
          document.getElementById("empSecondary").value=sec;
          document.getElementById("empLocation").value=loc;
          var ddl = $("#opt1");
          ddl.empty();
          ddl.append($("<option selected></option>").val(sts).html(sts));
          var dd2 = $("#opt2");
          dd2.empty();
          dd2.append($("<option selected></option>").val(panelName).html(panelName));
          document.getElementById("empRemarks").value=remk;
          document.getElementById("empDesignation").value=desg;
          document.getElementById("empBenchmng").value=mang;
          document.getElementById("formUpdate").action = "../editEmp/"+ id;
        }
        
        function closeForm() {
          document.getElementById("updateForm").style.display = "none";
        }
    // Use the plugin once the DOM has been loaded.
    $(function () {
      // Apply the plugin 
      $('table').excelTableFilter();
    });
  </script>

{% endblock content %}
